* {
  box-sizing: border-box;
}
body {
  background-image: url('/images/나뭇잎왼.png'), url('/images/나뭇잎오른.png');
  font-size: 14px;
  background-color: rgba(49,89,158,1);
  background-repeat: no-repeat,no-repeat;
  background-position: left, right;
}
.MJMK{
  width:10%;
  height:10%;
}
h1{
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4%;
  left: 35%;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.input-area {
  border:0;
  outline: 0;
  width: 20%;
  height: 8%;
  left: 35%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
}
#useremail{
  top: 23%;
}
#useremail-ckeck {
  top: 32%;
}
#username {
  top: 50%;
}
#userpassward {
  top: 59%;
}
#userpassward-check {
  top: 68%;
}
#userdepartment {
  top: 77%;
}
.btn-email{
  position: absolute;
  left: 56%;
  width: 8%;
  height: 8%;
  background: rgba(255,255,255,1);
  opacity: 1;
  overflow: hidden;
}
.btn-email:hover{
  background-color: rgb(33, 65, 121);
  color: white;
  border:0;
  outline: 0;
}
#btn-email-check {   
  top: 32%;
}
#btn-email-send {   
  top: 23%;
}

#finish {
  width: 12%;
  height: 8%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 85%;
  left: 56%;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  border:0;
  outline: 0;
}
#finish:hover{
  background-color: rgb(33, 65, 121);
  color: white;
  border:0;
  outline: 0;
}